.first-post-container {
    width: 100%;
    border: 1px solid silver;
    border-radius: 16px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.4);
}

.first-post-container img {
    width: 100%;
}

.first-post-container__info {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
}
